@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,900;1,400;1,900&display=swap');

:root {
    --main-blue: #33e0ff;
    --secondary-blue: #100052;
    --accent-color: #cfd1dd;

    --font: 'Raleway', sans-serif;
}

body {
    font-family: var(--font);
    font-size: 1.05rem;
}

header, footer {
    background-color: var(--main-blue);
    display: flex;
    flex-flow: column;
    padding: .5em;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 15px gray;
}

header, nav, main, footer {
	max-width: 950px;
	margin: 0 auto;
}

h1 {
    font-size: 2rem;
}

.logo-img {
    width: 100px;
    box-shadow: 0 2px 15px gray;
}

a:visited {
    color: blue;
}

a:hover {
    color: var(--main-blue);
}

nav {
    background-color: var(--secondary-blue);
    text-align: center;
    box-shadow: 0 2px 15px gray;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    overflow: hidden;
}

nav ul li a {
    display: block;
	color: white;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
    font-size: 0.95rem;
}

nav a:visited {
    color: white;
}

nav a:hover {
	background-color: var(--accent-color);
	color: var(--secondary-blue);
}

section {
    padding: 1em;
}

footer {
    flex: 0 1 100%;
    margin-top: 1em;
}

footer p {
    margin: 0.3em;
    font-size: 1rem;
    text-align: center;
}

.byui-link, .byui-link:visited, .byui-link:hover {
    color: black;
}

.last-update, #last-modified {
    font-style: italic;
    font-size: 0.9em;
}

/* Larger screens - examples: tablets, computer monitors */
@media only screen and (min-width: 40em) {
    nav ul {
        display: flex;
    }

	nav ul li {
        flex: 1 1 100%;
    }
}