@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

main div {
    display: grid;
    grid-template-columns: 1fr;
}

h1, h2 {
    font-family: 'Bebas Neue', cursive;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 0.9em;
}

section {
    background-color: thistle;
    margin: 1em 2em;
    border: 1px solid slategray;
    padding: 1rem;
    justify-self: center;
}

img {
    box-shadow: 0 0 12px rgb(78, 90, 102);
    max-width: 100%;
}

footer {
    margin-top: 2em;
    padding: 1em;
    background-color: thistle;
}

@media only screen and (min-width: 42em) {
    main div {
        grid-template-columns: 1fr 1fr;
    }

    section {
        margin: 1em 1em;
    }
}

@media only screen and (min-width: 60em) {
    main div {
        grid-template-columns: repeat(4, 1fr);
    }

    section {
        margin: 0.5rem 0.5rem;
    }
}