@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
    --dark-blue: #628ca6;
    --light-blue: #7fb9c2;
    --gray-data: #e7f0ed;
    --green-data: #e7ffed;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

table {
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 2em;
    box-shadow: 5px 5px 8px var(--dark-blue);
}

td, th {
    border: 1px solid rgb(194, 194, 194);
    padding: 5px;
}

thead tr th {
    font-size: 1.4em;
    background-color: var(--light-blue);
}

tbody tr {
    background-color: var(--green-data);
    font-size: 0.85em;

}

tbody tr th, #highlight {
    background-color: var(--dark-blue);
    color: white;
}

tbody tr:nth-child(2), tbody tr:nth-child(4), tbody tr:nth-child(6) {
    background-color: var(--gray-data);
}

tfoot tr {
    font-size: .65em;
    background-color: var(--light-blue);
}