@import url('https://fonts.googleapis.com/css2?family=Elsie&family=Nunito&display=swap');

/* Smaller screens - example: smart phones */
body {
    font-family: 'Nunito', sans-serif;
    display: block;
}

h1, h2, h3 {
    font-family: 'Elsie', cursive;
}

h1 {
    margin-top: 8px;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    margin-bottom: 8px;
}

header {
    background-color: rgb(42, 78, 102);
    color: white;
    text-align: center;
    padding: 2px;
}

section {
    /*border: solid 1px;*/
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
    border-radius: 4px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

h3 {
    background-color: silver;
    line-height: 2em;
    margin-top: 0;
}

section p {
    padding-left: 1em;
    padding-right: 1em;
}

section div, .company-name, h3 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
    margin-top: 1em;
}

a {
    color: rgb(42, 78, 102);
}

footer {
    background-color: rgb(42, 78, 102);
    color: white;
    padding-top: .3em;
    padding-bottom: .3em;
    text-align: center;
    margin: 0;
}

footer p {
    margin: .4em;
    font-size: 1rem;
}

a:hover {
    color: plum;
}

.byui-link {
    color: white;
}

.last-update, #last-modified {
    color: rgb(251, 253, 125);
    font-size: 0.9rem;
}

/* Medium screens - example: tablets */
@media only screen and (min-width: 40em) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "prin1"
        "prin2"
        "prin3";
    }

    .prin1 {
        grid-area: prin1;
        grid-column: 1;
        grid-row: 1;
        width: 90%;
        margin-bottom: 0;
    }

    .prin2 {
        grid-area: prin2;
        grid-column: 2;
        grid-row: 1;
        width: 90%;
        margin-bottom: 0;
    }

    .prin3 {
        grid-area: prin3;
        grid-column: 1 / 3;
        grid-row: 2;
        width: 95%;
    }
}

/* Larger screens - example: computer monitor/laptop */
@media only screen and (min-width: 60em) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "prin1"
        "prin2"
        "prin3"; 
    }

    .prin1 {
        grid-area: prin1;
        grid-column: 1;
        grid-row: 1;
        width: 91%;
        margin-right: .5rem;
        margin-bottom: 1em;
    }

    .prin2 {
        grid-area: prin2;
        grid-column: 2;
        grid-row: 1;
        width: 91%;
        margin-bottom: 1em;
    }

    .prin3 {
        grid-area: prin3;
        grid-column: 3;
        grid-row: 1;
        width: 91%;
        margin-left: .5rem;
    }
}